.seachFiler {
	background-color: $color_white;
	border: $border_2;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 10px 0;
	border-radius: $radius_2;

	position: relative;
	bottom: -40px;
	width: 100%;

	.searchItem {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 30px;

		.icon {
			color: lightgray;
			font-size: 24px;
			margin-right: 8px;
		}

		.searchInput {
			border: none;

			&:focus {
				box-shadow: none;
			}
		}

		.text {
			color: lightgray;
			cursor: pointer;
		}

		.dateFilter,
		.options {
			transition: $transition;
			position: absolute;
			top: 53px;
			z-index: 1;
		}

		.options {
			transition: $transition;

			.optionItem {
				display: flex;
				align-items: center;
				justify-content: space-between;

				&:not(:last-child) {
					margin-bottom: 16px;
				}

				.optionGroup {

					.btnMinus,
					.btnPlus {
						transition: $transition;
						font-weight: 600;
					}

					.btnMinus {
						border-color: $color_danger;

						&:hover {
							color: $color_danger;
						}
					}

					.btnPlus {
						border-color: $color_success;

						&:hover {
							color: $color_success;
						}
					}

					.btnDisable {
						border-color: $color_gray2;
						color: $color_gray2;
						cursor: not-allowed;

						&:hover {
							color: $color_gray2;
						}
					}
				}
			}
		}
	}

}