.slider_item {
  border: none;
  cursor: move;

  .property_link {
    text-decoration: none;

    .card-body {
      transition: $transition;

      h5 {
        text-transform: capitalize;
        color: $color_primary;
      }

      p {
        color: $color_text;
      }

      &:hover {
        cursor: pointer;
        background-color: $color_gray2;
      }
    }
  }
}