// Color
$color_primary: #003580;
$color_bg_primary: #00224f;
$color_white: #ffffff;
$color_warning: #febb02;
$color_danger: #DD5353;
$color_success: #367E18;
$color_gray: #ffffff88;
$color_gray2: lightgray;
$color_text: #6b6b6b;

// Radius
$radius_1: 4px;
$radius_2: 8px;

// Border
$border_1: 1px solid $color_gray;
$border_2: 3px solid $color_warning;

// Transition
$transition: all 0.4s ease;