// Color
$color_primary: #003580;
$color_white: #ffffff;
$color_warning: #febb02;
$color_border: #ffffff88;

// Radius
$radius_1: 4px;
$radius_2: 8px;

// Border
$border_1: 1px solid $color_border;
$border_2: 3px solid $color_warning;